.blackout {
	background: rgba(102, 102, 102, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.box {
	width: 300px;
	height: 50px;
	text-align: center;
	padding: 15px;
	border: 1px solid #343a40;
	border-radius: 10px;
	color: #343a40;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #fff;
}

.blackout:target {
	display: block;
}

.close {
	display: inline-block;
	border: 1px solid #343a40;
	color: #343a40;
	padding: 0 12px;
	margin: 10px;
	text-decoration: none;
	background: #f2f2f2;
	font-size: 14pt;
	cursor:pointer;
}

.close:hover {
	background: #e6e6ff;
}

